# packaging
pip>=9
setuptools>=26
wheel>=0.29

# data science
numpy
pandas >=2.0.0
scikit-learn >=1.2.2
seaborn
plotly
scipy > 1.24

# nlp
re
#gensim
#spacy

# UI
#dash
#dash_bootstrap_components
#streamlir

# tests/linter
black

# coverage
# flake8
# pytest
# yapf

# API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# utilities
# six>=1.14
joblib
pyyaml>=6.0
# memoized-property
# termcolor
